ProjectAamps.Clients/Service References/AampService/AampService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1862/AampService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Unit" nillable="true" type="tns:Unit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnit" nillable="true" type="tns:ArrayOfUnit" />
  <xs:complexType name="Unit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Development" nillable="true" type="tns:Development" />
      <xs:element minOccurs="0" name="DevelopmentID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitActiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="UnitAgentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitBlock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitDateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitDateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitErfSize" type="xs:double" />
      <xs:element minOccurs="0" name="UnitFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="UnitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPhase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="UnitPriceIncluding" type="xs:double" />
      <xs:element minOccurs="0" name="UnitPriceVat" type="xs:double" />
      <xs:element minOccurs="0" name="UnitSize" type="xs:double" />
      <xs:element minOccurs="0" name="UnitStatu" nillable="true" type="tns:UnitStatus" />
      <xs:element minOccurs="0" name="UnitStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitType" nillable="true" type="tns:UnitType" />
      <xs:element minOccurs="0" name="UnitTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unit" nillable="true" type="tns:Unit" />
  <xs:complexType name="Development">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevelopmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentDevID" type="xs:int" />
      <xs:element minOccurs="0" name="DevelopmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DevelopmentInActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="DevelopmentSalesCoID" type="xs:int" />
      <xs:element minOccurs="0" name="DevelopmentTransAttID" type="xs:int" />
      <xs:element minOccurs="0" name="DevelopmentType" nillable="true" type="tns:DevelopmentType" />
      <xs:element minOccurs="0" name="DevelopmentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="DevelopmentUrlImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estate" nillable="true" type="tns:Estate" />
      <xs:element minOccurs="0" name="EstateID" type="xs:int" />
      <xs:element minOccurs="0" name="SalesCoDevLinks" nillable="true" type="tns:ArrayOfSalesCoDevLink" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="tns:ArrayOfUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Development" nillable="true" type="tns:Development" />
  <xs:complexType name="DevelopmentType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevelopmentTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Developments" nillable="true" type="tns:ArrayOfDevelopment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DevelopmentType" nillable="true" type="tns:DevelopmentType" />
  <xs:complexType name="ArrayOfDevelopment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Development" nillable="true" type="tns:Development" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevelopment" nillable="true" type="tns:ArrayOfDevelopment" />
  <xs:complexType name="Estate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Developments" nillable="true" type="tns:ArrayOfDevelopment" />
      <xs:element minOccurs="0" name="EstateDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estate" nillable="true" type="tns:Estate" />
  <xs:complexType name="ArrayOfSalesCoDevLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesCoDevLink" nillable="true" type="tns:SalesCoDevLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesCoDevLink" nillable="true" type="tns:ArrayOfSalesCoDevLink" />
  <xs:complexType name="SalesCoDevLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="Development" nillable="true" type="tns:Development" />
      <xs:element minOccurs="0" name="DevelopmentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesCoDevLinkDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="SalesCoDevLinkID" type="xs:int" />
      <xs:element minOccurs="0" name="SalesCoID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesCoDevLink" nillable="true" type="tns:SalesCoDevLink" />
  <xs:complexType name="UnitStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="UnitStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="tns:ArrayOfUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitStatus" nillable="true" type="tns:UnitStatus" />
  <xs:complexType name="UnitType">
    <xs:sequence>
      <xs:element minOccurs="0" name="UnitTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="tns:ArrayOfUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitType" nillable="true" type="tns:UnitType" />
  <xs:complexType name="OriginatorTr">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bank" nillable="true" type="tns:Bank" />
      <xs:element minOccurs="0" name="BankID" type="xs:int" />
      <xs:element minOccurs="0" name="MOStatu" nillable="true" type="tns:MOStatus" />
      <xs:element minOccurs="0" name="MOStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatorTrAIPDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginatorTrAcceptDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginatorTrAcceptedBt" type="xs:boolean" />
      <xs:element minOccurs="0" name="OriginatorTrAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatorTrAddedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginatorTrBondAmount" type="xs:double" />
      <xs:element minOccurs="0" name="OriginatorTrGrantDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginatorTrID" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatorTrIntRate" type="xs:double" />
      <xs:element minOccurs="0" name="OriginatorTrModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatorTrModifiedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OriginatorTrSubmittedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="tns:Sale" />
      <xs:element minOccurs="0" name="SaleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginatorTr" nillable="true" type="tns:OriginatorTr" />
  <xs:complexType name="Bank">
    <xs:sequence>
      <xs:element minOccurs="0" name="BankDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankID" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatorTrs" nillable="true" type="tns:ArrayOfOriginatorTr" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bank" nillable="true" type="tns:Bank" />
  <xs:complexType name="ArrayOfOriginatorTr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginatorTr" nillable="true" type="tns:OriginatorTr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOriginatorTr" nillable="true" type="tns:ArrayOfOriginatorTr" />
  <xs:complexType name="ArrayOfSale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sale" nillable="true" type="tns:Sale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSale" nillable="true" type="tns:ArrayOfSale" />
  <xs:complexType name="Sale">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bank" nillable="true" type="tns:Bank" />
      <xs:element minOccurs="0" name="BankID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BondAtts" nillable="true" type="tns:ArrayOfBondAtt" />
      <xs:element minOccurs="0" name="BondConditionTrs" nillable="true" type="tns:ArrayOfBondConditionTr" />
      <xs:element minOccurs="0" name="BondOriginatorID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="CommissionTrs" nillable="true" type="tns:ArrayOfCommissionTr" />
      <xs:element minOccurs="0" name="FinancialTrs" nillable="true" type="tns:ArrayOfFinancialTr" />
      <xs:element minOccurs="0" name="Individual" nillable="true" type="tns:Individual" />
      <xs:element minOccurs="0" name="IndividualID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatorTrs" nillable="true" type="tns:ArrayOfOriginatorTr" />
      <xs:element minOccurs="0" name="Purchaser" nillable="true" type="tns:Purchaser" />
      <xs:element minOccurs="0" name="PurchaserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SaleActiveStatus" nillable="true" type="tns:SaleActiveStatus" />
      <xs:element minOccurs="0" name="SaleActiveStatusID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SaleAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="SaleAddedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleBondDueExpiryDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleBondDueTimeDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleBondRequiredAmount" type="xs:double" />
      <xs:element minOccurs="0" name="SaleContractSignedPurchaserDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleContractSignedSellerDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleDepositPaidBt" type="xs:boolean" />
      <xs:element minOccurs="0" name="SaleDepositProof" nillable="true" type="tns:SaleDepositProof" />
      <xs:element minOccurs="0" name="SaleID" type="xs:int" />
      <xs:element minOccurs="0" name="SaleModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="SaleModifiedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalePrimAgentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SaleReservationDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleReservationExpiryDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleReservationExtentionDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SaleStatus" nillable="true" type="tns:SaleStatus" />
      <xs:element minOccurs="0" name="SaleStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="SaleType" nillable="true" type="tns:SaleType" />
      <xs:element minOccurs="0" name="SaleTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesBondAccountNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalesBondAmount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SalesBondAttAssignedID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesBondBondDocsRecDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesBondClientAcceptDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesBondClientContactedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesBondCommDueBt" type="xs:boolean" />
      <xs:element minOccurs="0" name="SalesBondGrantedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesBondInterestRate" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SalesBondRequiredBt" type="xs:boolean" />
      <xs:element minOccurs="0" name="SalesBondRequiredDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesDepoistPaidDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesDepositProofDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SalesDepositProofID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesReferalCommDueBt" type="xs:boolean" />
      <xs:element minOccurs="0" name="SalesTotalDepositAmount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SalesTransferAttAssignedID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransAtts" nillable="true" type="tns:ArrayOfTransAtt" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="tns:Unit" />
      <xs:element minOccurs="0" name="UnitID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sale" nillable="true" type="tns:Sale" />
  <xs:complexType name="ArrayOfBondAtt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BondAtt" nillable="true" type="tns:BondAtt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBondAtt" nillable="true" type="tns:ArrayOfBondAtt" />
  <xs:complexType name="BondAtt">
    <xs:sequence>
      <xs:element minOccurs="0" name="BondAttAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="BondAttAddedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BondAttBankRecDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BondAttClientSignedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BondAttConditionsBt" type="xs:boolean" />
      <xs:element minOccurs="0" name="BondAttCostPaidBt" type="xs:boolean" />
      <xs:element minOccurs="0" name="BondAttCostPaidDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BondAttID" type="xs:int" />
      <xs:element minOccurs="0" name="BondAttInstRecDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BondAttModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="BondAttModifiedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BondConditionTrs" nillable="true" type="tns:ArrayOfBondConditionTr" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="tns:Sale" />
      <xs:element minOccurs="0" name="SaleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BondAtt" nillable="true" type="tns:BondAtt" />
  <xs:complexType name="ArrayOfBondConditionTr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BondConditionTr" nillable="true" type="tns:BondConditionTr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBondConditionTr" nillable="true" type="tns:ArrayOfBondConditionTr" />
  <xs:complexType name="BondConditionTr">
    <xs:sequence>
      <xs:element minOccurs="0" name="BondAtt" nillable="true" type="tns:BondAtt" />
      <xs:element minOccurs="0" name="BondAttID" type="xs:int" />
      <xs:element minOccurs="0" name="BondConditionDescription" type="xs:int" />
      <xs:element minOccurs="0" name="BondConditionTrAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="BondConditionTrAddedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BondConditionTrID" type="xs:int" />
      <xs:element minOccurs="0" name="BondConditionTrModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="BondConditionTrModifiedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="tns:Sale" />
      <xs:element minOccurs="0" name="SaleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BondConditionTr" nillable="true" type="tns:BondConditionTr" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="BondAtt" nillable="true" type="tns:BondAtt" />
      <xs:element minOccurs="0" name="BondAttID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CommentAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CommentAddedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CommentDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentGroup" nillable="true" type="tns:CommentGroup" />
      <xs:element minOccurs="0" name="CommentGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="CommentID" type="xs:int" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="tns:Sale" />
      <xs:element minOccurs="0" name="SaleID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransAtt" nillable="true" type="tns:TransAtt" />
      <xs:element minOccurs="0" name="TransAttID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="CommentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentGroupDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentGroup" nillable="true" type="tns:CommentGroup" />
  <xs:complexType name="TransAtt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="FinancialTrs" nillable="true" type="tns:ArrayOfFinancialTr" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="tns:Sale" />
      <xs:element minOccurs="0" name="SaleID" type="xs:int" />
      <xs:element minOccurs="0" name="TransAttAAMPSCommPaidDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="TransAttAddedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttAgencyCommPaidDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttCostsPaidBt" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransAttCostsPaidDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttDocsDraftedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttID" type="xs:int" />
      <xs:element minOccurs="0" name="TransAttInstRecDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttLodgedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="TransAttModifiedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttPurchaserSignedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttRatesClearanceRecDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttReferalCommPaidDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttRegisteredDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttSellerSignedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransAttTDRecDt" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransAtt" nillable="true" type="tns:TransAtt" />
  <xs:complexType name="ArrayOfFinancialTr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FinancialTr" nillable="true" type="tns:FinancialTr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFinancialTr" nillable="true" type="tns:ArrayOfFinancialTr" />
  <xs:complexType name="FinancialTr">
    <xs:sequence>
      <xs:element minOccurs="0" name="FinancialTrAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="FinancialTrAddedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinancialTrAmount" type="xs:double" />
      <xs:element minOccurs="0" name="FinancialTrComment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialTrDueDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinancialTrEffectiveDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinancialTrID" type="xs:int" />
      <xs:element minOccurs="0" name="FinancialTrModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="FinancialTrModifiedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FinancialType" nillable="true" type="tns:FinancialType" />
      <xs:element minOccurs="0" name="FinancialTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="tns:Sale" />
      <xs:element minOccurs="0" name="SaleID" type="xs:int" />
      <xs:element minOccurs="0" name="TransAtt" nillable="true" type="tns:TransAtt" />
      <xs:element minOccurs="0" name="TransAttID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialTr" nillable="true" type="tns:FinancialTr" />
  <xs:complexType name="FinancialType">
    <xs:sequence>
      <xs:element minOccurs="0" name="FinancialTrs" nillable="true" type="tns:ArrayOfFinancialTr" />
      <xs:element minOccurs="0" name="FinancialTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FinancialType" nillable="true" type="tns:FinancialType" />
  <xs:complexType name="ArrayOfCommissionTr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommissionTr" nillable="true" type="tns:CommissionTr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommissionTr" nillable="true" type="tns:ArrayOfCommissionTr" />
  <xs:complexType name="CommissionTr">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommissionTrAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CommissionTrAddedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CommissionTrBondAmount" type="xs:double" />
      <xs:element minOccurs="0" name="CommissionTrID" type="xs:int" />
      <xs:element minOccurs="0" name="CommissionTrModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CommissionTrModifiedDt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CommissionTrRate" type="xs:double" />
      <xs:element minOccurs="0" name="CommissionType" nillable="true" type="tns:CommissionType" />
      <xs:element minOccurs="0" name="CommissionTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Sale" nillable="true" type="tns:Sale" />
      <xs:element minOccurs="0" name="SaleID" type="xs:int" />
      <xs:element minOccurs="0" name="UserList" nillable="true" type="tns:UserList" />
      <xs:element minOccurs="0" name="UserListID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionTr" nillable="true" type="tns:CommissionTr" />
  <xs:complexType name="CommissionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommissionTrs" nillable="true" type="tns:ArrayOfCommissionTr" />
      <xs:element minOccurs="0" name="CommissionTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommissionTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommissionType" nillable="true" type="tns:CommissionType" />
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommissionTrs" nillable="true" type="tns:ArrayOfCommissionTr" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="tns:Company" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="UserGroup" nillable="true" type="tns:UserGroup" />
      <xs:element minOccurs="0" name="UserGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="UserListAddedby" type="xs:int" />
      <xs:element minOccurs="0" name="UserListDateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserListDateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserListEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserListID" type="xs:int" />
      <xs:element minOccurs="0" name="UserListInActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserListLastModifiedby" type="xs:int" />
      <xs:element minOccurs="0" name="UserListName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserListPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserListSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRights" nillable="true" type="tns:ArrayOfUserRight" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="tns:UserType" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="UserGroup" nillable="true" type="tns:UserGroup" />
      <xs:element minOccurs="0" name="UserGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="UserLists" nillable="true" type="tns:ArrayOfUserList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="UserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:ArrayOfCompany" />
      <xs:element minOccurs="0" name="GroupRights" nillable="true" type="tns:ArrayOfGroupRight" />
      <xs:element minOccurs="0" name="UserGroupDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserGroup" nillable="true" type="tns:UserGroup" />
  <xs:complexType name="ArrayOfCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Company" nillable="true" type="tns:Company" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompany" nillable="true" type="tns:ArrayOfCompany" />
  <xs:complexType name="ArrayOfGroupRight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupRight" nillable="true" type="tns:GroupRight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupRight" nillable="true" type="tns:ArrayOfGroupRight" />
  <xs:complexType name="GroupRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormReport" nillable="true" type="tns:FormReport" />
      <xs:element minOccurs="0" name="FormReportID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupRightAdd" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupRightDateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GroupRightDateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GroupRightDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupRightEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupRightFull" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupRightID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupRightView" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserGroup" nillable="true" type="tns:UserGroup" />
      <xs:element minOccurs="0" name="UserGroupID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupRight" nillable="true" type="tns:GroupRight" />
  <xs:complexType name="FormReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormReportDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormReportID" type="xs:int" />
      <xs:element minOccurs="0" name="FormReportIsForm" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupRights" nillable="true" type="tns:ArrayOfGroupRight" />
      <xs:element minOccurs="0" name="UserRights" nillable="true" type="tns:ArrayOfUserRight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormReport" nillable="true" type="tns:FormReport" />
  <xs:complexType name="ArrayOfUserRight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRight" nillable="true" type="tns:UserRight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRight" nillable="true" type="tns:ArrayOfUserRight" />
  <xs:complexType name="UserRight">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormReport" nillable="true" type="tns:FormReport" />
      <xs:element minOccurs="0" name="FormReportID" type="xs:int" />
      <xs:element minOccurs="0" name="UserList" nillable="true" type="tns:UserList" />
      <xs:element minOccurs="0" name="UserListID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRightAdd" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserRightDateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserRightDateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserRightDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserRightEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserRightFull" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserRightID" type="xs:int" />
      <xs:element minOccurs="0" name="UserRightView" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRight" nillable="true" type="tns:UserRight" />
  <xs:complexType name="ArrayOfUserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserList" nillable="true" type="tns:UserList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserList" nillable="true" type="tns:ArrayOfUserList" />
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="Individual">
    <xs:sequence>
      <xs:element minOccurs="0" name="IndividualCoAddID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IndividualContactCell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualContactHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualContactWork" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualCountryofOriginan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualID" type="xs:int" />
      <xs:element minOccurs="0" name="IndividualIDNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndividualUserAddedID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PreferedContactMethod" nillable="true" type="tns:PreferedContactMethod" />
      <xs:element minOccurs="0" name="PreferedContactMethodID" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaserIndividualLinks" nillable="true" type="tns:ArrayOfPurchaserIndividualLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Individual" nillable="true" type="tns:Individual" />
  <xs:complexType name="PreferedContactMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Individuals" nillable="true" type="tns:ArrayOfIndividual" />
      <xs:element minOccurs="0" name="PreferedContactMethodDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferedContactMethodID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreferedContactMethod" nillable="true" type="tns:PreferedContactMethod" />
  <xs:complexType name="ArrayOfIndividual">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Individual" nillable="true" type="tns:Individual" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndividual" nillable="true" type="tns:ArrayOfIndividual" />
  <xs:complexType name="ArrayOfPurchaserIndividualLink">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaserIndividualLink" nillable="true" type="tns:PurchaserIndividualLink" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaserIndividualLink" nillable="true" type="tns:ArrayOfPurchaserIndividualLink" />
  <xs:complexType name="PurchaserIndividualLink">
    <xs:sequence>
      <xs:element minOccurs="0" name="Individual" nillable="true" type="tns:Individual" />
      <xs:element minOccurs="0" name="IndividualID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Purchaser" nillable="true" type="tns:Purchaser" />
      <xs:element minOccurs="0" name="PurchaserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaserIndividualLinkID" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaserIndividualLinkMainContact" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaserIndividualLink" nillable="true" type="tns:PurchaserIndividualLink" />
  <xs:complexType name="Purchaser">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityType" nillable="true" type="tns:EntityType" />
      <xs:element minOccurs="0" name="EntityTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaserAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserAddress1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserAddress2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserAddress3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserCoAddedID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaserContactCell" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserContactHome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserContactPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserContactWork" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserID" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaserIndividualLinks" nillable="true" type="tns:ArrayOfPurchaserIndividualLink" />
      <xs:element minOccurs="0" name="PurchaserPostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserRegID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserSuburb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaserUserAddedID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purchaser" nillable="true" type="tns:Purchaser" />
  <xs:complexType name="EntityType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Purchasers" nillable="true" type="tns:ArrayOfPurchaser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityType" nillable="true" type="tns:EntityType" />
  <xs:complexType name="ArrayOfPurchaser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Purchaser" nillable="true" type="tns:Purchaser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaser" nillable="true" type="tns:ArrayOfPurchaser" />
  <xs:complexType name="SaleActiveStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="SaleActiveStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleActiveStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleActiveStatus" nillable="true" type="tns:SaleActiveStatus" />
  <xs:complexType name="SaleDepositProof">
    <xs:sequence>
      <xs:element minOccurs="0" name="SaleDepositProofDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleDepositProofID" type="xs:int" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleDepositProof" nillable="true" type="tns:SaleDepositProof" />
  <xs:complexType name="SaleStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="SaleStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleStatus" nillable="true" type="tns:SaleStatus" />
  <xs:complexType name="SaleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="SaleTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaleTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaleType" nillable="true" type="tns:SaleType" />
  <xs:complexType name="ArrayOfTransAtt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransAtt" nillable="true" type="tns:TransAtt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransAtt" nillable="true" type="tns:ArrayOfTransAtt" />
  <xs:complexType name="MOStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="MOStatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatorTrs" nillable="true" type="tns:ArrayOfOriginatorTr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MOStatus" nillable="true" type="tns:MOStatus" />
  <xs:complexType name="ArrayOfSaleType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleType" nillable="true" type="tns:SaleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleType" nillable="true" type="tns:ArrayOfSaleType" />
  <xs:complexType name="ArrayOfSaleDepositProof">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SaleDepositProof" nillable="true" type="tns:SaleDepositProof" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSaleDepositProof" nillable="true" type="tns:ArrayOfSaleDepositProof" />
  <xs:complexType name="ArrayOfBank">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bank" nillable="true" type="tns:Bank" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBank" nillable="true" type="tns:ArrayOfBank" />
  <xs:complexType name="ArrayOfMOStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MOStatus" nillable="true" type="tns:MOStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMOStatus" nillable="true" type="tns:ArrayOfMOStatus" />
  <xs:complexType name="DocumentDtl">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumenDtltAddedUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentDtlAddedDt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentDtlGUID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="DocumentDtlID" type="xs:int" />
      <xs:element minOccurs="0" name="DocumentDtlName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentDtlPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialTr" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IndividualID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatorID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SalesID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TransferID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentDtl" nillable="true" type="tns:DocumentDtl" />
  <xs:complexType name="ArrayOfPreferedContactMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreferedContactMethod" nillable="true" type="tns:PreferedContactMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreferedContactMethod" nillable="true" type="tns:ArrayOfPreferedContactMethod" />
  <xs:complexType name="ArrayOfEntityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityType" nillable="true" type="tns:EntityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityType" nillable="true" type="tns:ArrayOfEntityType" />
</xs:schema>