ProjectAamps.Clients/Service References/AampService/AampService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1862/AampService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" />
  <xs:element name="GetAllUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllUnitsResult" nillable="true" type="q1:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByIdResult" nillable="true" type="q2:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvailableUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvailableUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllAvailableUnitsResult" nillable="true" type="q3:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnAvailableUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnAvailableUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllUnAvailableUnitsResult" nillable="true" type="q4:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByUnitBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="block" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByUnitBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByUnitBlockResult" nillable="true" type="q5:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByAddedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByAddedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByAddedUserResult" nillable="true" type="q6:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agent" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByAgentIdResult" nillable="true" type="q7:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByDevelopmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByDevelopmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByDevelopmentIdResult" nillable="true" type="q8:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="unit" nillable="true" type="q9:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrginator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="originatorTr" nillable="true" type="q10:OriginatorTr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrginatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrginator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="originatorTr" nillable="true" type="q11:OriginatorTr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrginatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllSalesResult" nillable="true" type="q12:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetSaleByIdResult" nillable="true" type="q13:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleActiveStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleActiveStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetSaleActiveStatusResult" nillable="true" type="q14:SaleActiveStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetSaleTypesResult" nillable="true" type="q15:ArrayOfSaleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepositTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepositTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetDepositTypesResult" nillable="true" type="q16:ArrayOfSaleDepositProof" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBankByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetBankByIdResult" nillable="true" type="q17:Bank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBanks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllBanksResult" nillable="true" type="q18:ArrayOfBank" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMOStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMOStatusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetMOStatusByIdResult" nillable="true" type="q19:MOStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMOStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMOStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllMOStatusResult" nillable="true" type="q20:ArrayOfMOStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOriginatorBySalesId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOriginatorBySalesIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetOriginatorBySalesIdResult" nillable="true" type="q21:ArrayOfOriginatorTr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOriginatorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOriginatorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetOriginatorByIdResult" nillable="true" type="q22:OriginatorTr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleByUnitId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleByUnitIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetSaleByUnitIdResult" nillable="true" type="q23:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUpdateReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="sale" nillable="true" type="q24:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUpdateReservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="sale" nillable="true" type="q25:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDevelopments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDevelopmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllDevelopmentsResult" nillable="true" type="q26:ArrayOfDevelopment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevelopmentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevelopmentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetDevelopmentByIdResult" nillable="true" type="q27:Development" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstateByDevelopment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstateByDevelopmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetEstateByDevelopmentResult" nillable="true" type="q28:Estate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitStatusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitStatusByIdResult" nillable="true" type="q29:UnitStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q30:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyByUserGroupId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyByUserGroupIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetCompanyByUserGroupIdResult" nillable="true" type="q31:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="person" nillable="true" type="q32:Individual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="SavePersonResult" nillable="true" type="q33:Individual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPreferedContactMethods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPreferedContactMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllPreferedContactMethodsResult" nillable="true" type="q34:ArrayOfPreferedContactMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferedContactMethodById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferedContactMethodByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetPreferedContactMethodByIdResult" nillable="true" type="q35:PreferedContactMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="purchaser" nillable="true" type="q36:Purchaser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePurchaserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="SavePurchaserResult" nillable="true" type="q37:Purchaser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchaser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="purchaser" nillable="true" type="q38:Purchaser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePurchaserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="UpdatePurchaserResult" nillable="true" type="q39:Purchaser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPurchaserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetPurchaserByIdResult" nillable="true" type="q40:Purchaser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUserResult" nillable="true" type="q41:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetCurrentUserResult" nillable="true" type="q42:UserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>