ProjectAamps.Clients/Service References/AampService/AampService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aamps.Domain.Queries.Developments" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aamps.Domain.Queries.Developments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SelectRelevantDevelopmentQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      <xs:element minOccurs="0" name="UserGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="UserListID" type="xs:int" />
      <xs:element minOccurs="0" name="UserTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectRelevantDevelopmentQuery" nillable="true" type="tns:SelectRelevantDevelopmentQuery" />
  <xs:complexType name="ArrayOfSelectRelevantDevelopmentQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectRelevantDevelopmentQueryResult" nillable="true" type="tns:SelectRelevantDevelopmentQueryResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectRelevantDevelopmentQueryResult" nillable="true" type="tns:ArrayOfSelectRelevantDevelopmentQueryResult" />
  <xs:complexType name="SelectRelevantDevelopmentQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevelopmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DevelopmentUrlImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectRelevantDevelopmentQueryResult" nillable="true" type="tns:SelectRelevantDevelopmentQueryResult" />
</xs:schema>