ProjectAamps.Clients/Service References/AampService/AampService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aamps.Domain.Queries.Units" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aamps.Domain.Queries.Units" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSelectRelevantUnitsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectRelevantUnitsQuery" nillable="true" type="tns:SelectRelevantUnitsQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectRelevantUnitsQuery" nillable="true" type="tns:ArrayOfSelectRelevantUnitsQuery" />
  <xs:complexType name="SelectRelevantUnitsQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevelopmentID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitActiveDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitAddedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="UnitAgentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitBlock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitDateAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitDateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnitErfSize" type="xs:double" />
      <xs:element minOccurs="0" name="UnitFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="UnitNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPhase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="UnitPriceIncluding" type="xs:double" />
      <xs:element minOccurs="0" name="UnitPriceVat" type="xs:double" />
      <xs:element minOccurs="0" name="UnitSize" type="xs:double" />
      <xs:element minOccurs="0" name="UnitStatusID" type="xs:int" />
      <xs:element minOccurs="0" name="UnitTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectRelevantUnitsQuery" nillable="true" type="tns:SelectRelevantUnitsQuery" />
</xs:schema>