ProjectAamps.Clients/Service References/AampService/AampService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aamps.Domain.ViewModels.Development" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aamps.Domain.ViewModels.Development" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAgentDevelopmentViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentDevelopmentViewModel" nillable="true" type="tns:AgentDevelopmentViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentDevelopmentViewModel" nillable="true" type="tns:ArrayOfAgentDevelopmentViewModel" />
  <xs:complexType name="AgentDevelopmentViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DevelopmentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevelopmentID" type="xs:int" />
      <xs:element minOccurs="0" name="DevelopmentUrlImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstateID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentDevelopmentViewModel" nillable="true" type="tns:AgentDevelopmentViewModel" />
</xs:schema>