ConsoleApplication1/Service References/AampService/AampService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1862/AampService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" />
  <xs:element name="GetAllUnits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUnitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllUnitsResult" nillable="true" type="q1:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByIdResult" nillable="true" type="q2:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByUnitBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="block" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByUnitBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByUnitBlockResult" nillable="true" type="q3:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByAddedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByAddedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByAddedUserResult" nillable="true" type="q4:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agent" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByAgentIdResult" nillable="true" type="q5:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByDevelopmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitByDevelopmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitByDevelopmentIdResult" nillable="true" type="q6:ArrayOfUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="unit" nillable="true" type="q7:Unit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUnitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllSalesResult" nillable="true" type="q8:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetSaleByIdResult" nillable="true" type="q9:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleByUnitId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSaleByUnitIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetSaleByUnitIdResult" nillable="true" type="q10:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDevelopments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDevelopmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetAllDevelopmentsResult" nillable="true" type="q11:ArrayOfDevelopment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevelopmentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevelopmentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetDevelopmentByIdResult" nillable="true" type="q12:Development" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstateByDevelopment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstateByDevelopmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetEstateByDevelopmentResult" nillable="true" type="q13:Estate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitStatusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitStatusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Aamps.Domain.Models" minOccurs="0" name="GetUnitStatusByIdResult" nillable="true" type="q14:UnitStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>